.contactPage {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  overflow-x: hidden;
}

.leftColumn,
.rightColumn {
  flex: 1;
  width: 100%;
  max-width: 100%;
  padding: 20px 20px 20px 0;
}

.leftColumn {
  border-right: 1px solid #ccc;
}

.rightColumn {
  padding-left: 40px;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #132946;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

inputError {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #132946;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #777;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .contactPage {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
  }

  .leftColumn {
    border-right: none;
    margin-bottom: 20px;
    padding-right: 0;
    text-align: left;
  }

  .rightColumn {
    padding-left: 0;
  }
}
