.homePage {
  padding: 20px;
  text-align: center;
}

.description {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.photo {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .homePage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .photo {
    width: 50%;
  }

  .description {
    width: 45%;
    font-size: 1.2em;
    text-align: left;
  }
}
