.homePage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  /* height: 80vh; Ensure the content is higher up on the page */
}

.homePage h1 {
  font-size: 36px;
  margin-bottom: 60px;
}

.homePage p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.homePage .description {
  max-width: 500px;
}

.homePage .photo {
  max-width: 500px;
  max-height: 100%;
  object-fit: cover;
  margin-top: 30px;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 0; Усунення додаткових відступів */
    padding: 0 10px 0 10px;
    min-height: calc(100vh - 80px); /* Висота контейнера без футера */
    box-sizing: border-box;
  }

  .homePage .photo {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 100%; /* Відображення фото на всю ширину екрану */
    margin-bottom: 0; /*Усунення зазору під фото на мобільних пристроях */
    object-fit: contain; /* Забезпечує повне відображення фото */
  }

  .homePage h1 {
    font-size: 28px; /* Зменшення шрифту для мобільних пристроїв */
  }

  .homePage p {
    font-size: 16px; /* Зменшення шрифту для мобільних пристроїв */
  }
}
