.worksPage {
  padding: 20px;
  text-align: left;
}

.text {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #333;
}

@media (min-width: 768px) {
  .worksPage {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .text {
    font-size: 1.2em;
  }
}
