/* Базові стилі */
body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  color: #333; */
}

code {
  font-family: "Exo 2", sans-serif;
}

/* Контейнер для кореневого елемента */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Стиль для контейнера */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

h1,
h2 {
  font-family: "Exo 2", sans-serif;
  color: #132946;
  font-family: "Exo 2", sans-serif;
}

P {
  font-family: "Exo 2", sans-serif;
}
