/* Базові стилі */
body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  color: #333;
  overflow-x: hidden;
  overflow-y: scroll;
}

code {
  font-family: "Exo 2", sans-serif;
}

/* Контейнер для кореневого елемента */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Стиль для контейнера */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding: 0 5px;
  }
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Exo 2", sans-serif;
  color: #132946;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Exo 2", sans-serif;
  color: #132946;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
  font-family: "Exo 2", sans-serif;
}

/* Базові стилі для мобільних пристроїв */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}
